//IMPORTS
@import "../src/components/loader/loader";
@import "../src/components/layout/qc-widget-panel/qc-widget-panel";
@import "../src/components/layout/footer/footer";
@import "../src/components/layout/wmt-form-wizard/wmt-form-wizard";

.main-content {
  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 10px;
    &--vertical {
      @extend .main-content__section;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      overflow: auto;
    }
    &--horizontal {
      @extend .main-content__section;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      overflow: auto;
    }
  }
}

.form-main-container {
  &--vertical {
    @extend .main-content__section;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;
  }

  &--horizontal {
    @extend .main-content__section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
  }
  background-color: red !important;
}
